/* Header Section */

header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: static;
  background-color: black;
  height: 69px;
  z-index: 5;
  width: 99%;
  border-bottom: 1px solid seashell;
  font-family: Helvetica;
  font-size: 22px;
  color: seashell;
  opacity: 0.9;
}

header img {
  display: flex;
  height: 50px;
  padding-left: 10px;
  flex-grow: 1;
}

nav {
  color: seashell;
  padding-right: 10px;
}

a {
  color: seashell;
  text-decoration: underline;
}

body {
  background-color: black;
}

/* Banner with Mission */

.banner span {
  background-image: url('../images/mission.jpg');
  height: 700px;
  width: 1200px;
}

.banner {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  border-radius: 1px solid black;

}

.mission {
  display: flex;
  flex-direction: column;
  border: 1px solid black;
}
