/* Header Section */

#header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: fixed;
  background-color: black;
  height: 100px;
  width: 100%;
  border-bottom: 1px solid seashell;
  font-family: Helvetica;
  font-size: 22px;
  color: seashell;
  opacity: 0.9;
  margin-top: 0;
  z-index: 2;
}

header img {
  display: flex;
  height: 50px;
  padding-left: 10px;
  flex-grow: 1;
}

nav {
  color: seashell;
  padding-right: 10px;
}

a {
  color: seashell;
  text-decoration: underline;
}

/* Body */

body {
  background-color: black;
  font-family: Helvetica;
  font-size: 22px;
  color: seashell;
  opacity: 0.9;
  margin: auto;
}

/* Banner Image */

.banner {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100%;
  height: 700px;
  position: relative;
  top: 95px;
}

.background {
  display: flex;
  justify-content: center;
  margin: auto;
  height: 700px;
  width: 1200px;
  background-size: cover;
}

/* Mission Bar w/ Text */

.mission {
  display: inline-block;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  width: inherit;
  position: absolute;
  background-color: black;
  text-align: center;
  margin-top: 0;
  margin-bottom: 0;
}

.mission h2,
h4 {
  margin: 10px; auto;
}

/* Tea of the Month Section */

.month {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  margin: 30px auto;
  position: relative;
  top: 95px;
}

.row {
  display: flex;
  width: 1000px;
  text-align: center;
  font-family: inherit;
  margin: 10px auto;
}

.two {
  display: flex;
  justify-content: space-between;
}

.three {
  display: flex;
  justify-content: center;
}

.three .image {
  margin: 0 15px;
}

.image {
  height: 200px;
  width: 300px;
  object-fit: cover;
}

.text {
  width: inherit;
}
